<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCBlend - Favoritos</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/favorites.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="http://localhost:8080"><img src="../images/logo.jpg" alt="PCBlend Logo" /></a>
            </div>
            <ul>
                <li><a href="http://localhost:8080">Inicio</a></li>
                <li><a href="http://localhost:8080/productos/ensamblados">Productos</a></li>
                <li><a href="http://localhost:8080/customization/componentes">Personalización</a></li>
                <li><a href="http://localhost:8080/favorites" class="active">Favoritos</a></li>
                <li><a href="http://localhost:8080/cart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>            </ul>
            <% if (autenticado) { %>
                <div class="user-menu">
                    <form action="http://localhost:8080/login/logout" method="post">
                        <button type="submit">Cerrar sesión</button>
                    </form>
                </div>
                <% } else { %>
                    <!-- Si el usuario NO está autenticado, mostramos el contenido de este bloque -->
                    <div class="user-menu">
                        <!-- Contenido del menú para usuarios NO autenticados -->
                        <a href="http://localhost:8080/login">Iniciar sesión</a>
                        <a href="http://localhost:8080/registrar/render">Registrarse</a>
                    </div>
                    <% } %>
                        <div class="menu-toggle">
                            <i class="fas fa-bars"></i>
                        </div>
        </nav>
    </header>

    <main class="container">
        <h1>Mis favoritos</h1>

        <% if (autenticado) { %>
            <div class="favorites-container">
                <% favoritos.forEach(favorito=> { %>
                    <div class="favorite-item">
                        <img src=<%=favorito.imagen %> alt="Component 1">
                        <div class="favorite-item-details">
                            <h3>
                                <%= favorito.nombre %>
                            </h3>
                            <p>
                                <%= favorito.especificaciones %>
                            </p>
                            
                            <span class="price">$<%= favorito.precio %></span>
                            <div class="favorite-item-actions">
                                <form id="deleteForm" action="http://localhost:8080/eliminar/<%= favorito.id_favorito %>"
                                    method="post">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <!-- Este campo oculto indica al servidor que es una solicitud DELETE -->
                                    <button type="submit" class="btn-remove-favorite">Eliminar</button>
                                </form>
                                <button class="btn-add-to-cart">Agregar al carrito</button>
                            </div>
                        </div>
                    </div>
                    <% }); %>
            </div>
            <% } else { %>
                <!-- Si el usuario NO está autenticado, mostramos el contenido de este bloque -->
                <div class="user-menu">
                    <h2>Favor de iniciar sesion</h2>
                </div>
                <% } %>
                    <div class="no-favorites" style="display: none;">
                        <p>No tienes elementos en favoritos.</p>
                        <a href="products.html" class="btn">Explorar productos</a>
                    </div>
    </main>

    <footer>
        <div class="footer-top">
            <div class="logo">
                <img src="/images/logo.jpg" alt="PCBlend Logo" />
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="http://localhost:8080" class="active">Inicio</a></li>
                    <li><a href="http://localhost:8080/productos/ensamblados">Productos</a></li>
                    <li><a href="http://localhost:8080/customization/componentes">Personalización</a></li>
                    <li><a href="http://localhost:8080/favorites">Favoritos</a></li>
                    <li><a href="http://localhost:8080/cart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <ul>
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 PCBlend. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="../scripts/favorites.js"></script>
    <script>
        // Escuchar el evento submit del formulario
        document.addEventListener('DOMContentLoaded', function () {
            const form = document.getElementById('deleteForm');
            form.addEventListener('submit', async function (event) {
                event.preventDefault(); // Prevenir el envío del formulario por defecto

                const url = form.action;
                const method = form.method;
                
                try {
                    const response = await fetch(url, {
                        method: method
                    });
                    const data = await response.json();

                    if (data.success) {
                        // Mostrar una alerta de éxito
                        alert('Eliminado exitosamente de favoritos');
                        // Opcional: recargar la página o realizar otras acciones
                        // Recargar la página
                        window.location.reload();
                    } else {
                        // Mostrar una alerta de error si la eliminación falló
                        alert(data.message);
                    }
                } catch (error) {
                    // Manejar errores de red u otros errores
                    console.error('Error:', error);
                    alert('Error al eliminar el favorito');
                }
            });
        });
    </script>
</body>

</html>