<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PCBlend - Productos</title>
    <link rel="stylesheet" href="../styles/main.css" />
    <link rel="stylesheet" href="../styles/products.css" />
    <link rel="stylesheet" href="../styles/chatbot.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="http://localhost:8080"><img src="../images/logo.jpg" alt="PCBlend Logo" /></a>
            </div>
            <ul>
                <li><a href="http://localhost:8080">Inicio</a></li>
                <li><a href="http://localhost:8080/productos/ensamblados" class="active">Productos</a></li>
                <li><a href="http://localhost:8080/customization/componentes">Personalización</a></li>
                <li><a href="favorites.html">Favoritos</a></li>
                <li>
                    <a href="cart.html"><i class="fas fa-shopping-cart"></i> Carrito</a>
                </li>
            </ul>
            <div class="user-menu">
                <a href="login.html">Iniciar sesión</a>
                <a href="register.html">Registrarse</a>
            </div>
            <div class="menu-toggle">
                <i class="fas fa-bars"></i>
            </div>
        </nav>
    </header>

    <main class="container">
        <h1>Nuestros productos</h1>

        <div class="product-filters">
            <div class="filter-group">
                <label for="category">Categoría:</label>
                <select id="category" name="category">
                    <option value="">Todas las categorías</option>
                    <option value="gaming">Gaming</option>
                    <option value="diseno">Diseño</option>
                    <option value="hogar">Hogar u Oficina</option>
                    <option value="arquitectura">Arquitectura</option>
                    <option value="streaming">Streaming</option>
                    <option value="software">Software</option>
                </select>
            </div>
            <div class="filter-group">
                <label for="min-price">Precio mínimo:</label>
                <input type="number" id="min-price" name="min-price" min="0" value="14000">
            </div>
            <div class="filter-group">
                <label for="max-price">Precio máximo:</label>
                <input type="number" id="max-price" name="max-price" min="0" value="100000">
            </div>
            <button id="apply-filters" class="btn">Aplicar filtros</button>
        </div>

        <div class="product-grid">
            <section class="secciones">
                <ul>
                    <% productos.forEach((producto, index)=> { %>
                        <div class="card">
                            <div class="half-left">
                                <img src="<%= producto.imagen %>" alt="" style="width: 225px; height: 45%;" />
                            </div>
                            <div class="half-right">
                                <h2 class=""><strong></strong>
                                    <%= producto.nombre %>
                                </h2>
                                <p>
                                    <%= producto.especificaciones %>
                                </p>
                                <p><strong>Precio: </strong>
                                    <%= producto.precio %>
                                </p>
                                <div class="botones-seccion">
                                    <div id="evaluacion">
                                        <a href="http://localhost:8080"
                                            class="evaluacion-button">Detalles</a>
                                    </div>
                                    <div id="continuar">
                                        <a href="http://localhost:8080" class="continue-button">Agregar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>
                </ul>
            </section>
        </div>

        <div class="pagination">
            <% if (currentPage > 1) { %>
                <a href="?page=<%= currentPage - 1 %>&size=<%= size %>" class="btn">Anterior</a>
            <% } %>
            
            <span>Página <%= currentPage %> de <%= totalPages %></span>
            
            <% if (currentPage < totalPages) { %>
                <a href="?page=<%= currentPage + 1 %>&size=<%= size %>" class="btn">Siguiente</a>
            <% } %>
        </div>        
        
    </main>

    <footer>
        <div class="footer-top">
            <div class="logo">
                <img src="/images/logo.jpg" alt="PCBlend Logo" />
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="http://localhost:8080" class="active">Inicio</a></li>
                    <li><a href="http://localhost:8080/productos/ensamblados">Productos</a></li>
                    <li><a href="http://localhost:8080/customization/componentes">Personalización</a></li>
                    <li><a href="favorites.html">Favoritos</a></li>
                    <li><a href="cart.html"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <ul>
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 PCBlend. Todos los derechos reservados.</p>
        </div>
    </footer>

    <div class="chatbot-container">
        <div id="chat-display"></div>
        <div class="chat-input">
            <input type="text" id="user-input" placeholder="Escribe tu pregunta...">
            <button onclick="enviarPregunta()">Enviar</button>
            <button id="limpiar-btn" onclick="limpiarConversacion()">Clean</button>
        </div>
    </div>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const userInput = document.getElementById('user-input');
            userInput.addEventListener('keydown', function (event) {
                if (event.key === 'Enter') {
                    event.preventDefault();
                    enviarPregunta();
                    scrollChatToBottom();
                }
            });
        });

        function enviarPregunta() {
            const userInput = document.getElementById("user-input").value;
            const userInputCleaned = userInput.toLowerCase().trim();

            mostrarMensajeUsuario(userInputCleaned);

            let respuesta;
            if (userInputCleaned.includes("hola")) {
                respuesta = "¡Hola! ¿En qué puedo ayudarte hoy?";
            } else if (userInputCleaned.includes("componentes")) {
                respuesta = "Tenemos una amplia variedad de componentes disponibles. ¿Estás buscando algo en particular?";
            } else if (userInputCleaned.includes("ensamblados")) {
                respuesta = "Ofrecemos ensamblados personalizados según tus necesidades. ¿Tienes alguna preferencia en cuanto a rendimiento o presupuesto?";
            } else if (userInputCleaned.includes("compatibilidad")) {
                respuesta = "Para verificar la compatibilidad entre componentes, te recomiendo utilizar nuestra herramienta de compatibilidad en la sección de 'Personalización'. Si tienes alguna duda específica, házmelo saber.";
            } else if (userInputCleaned.includes("sugerencia")) {
                respuesta = "Para obtener sugerencias personalizadas, te recomiendo completar nuestro cuestionario en la página principal. También puedes explorar nuestros ensamblados preconfigurados en la sección de 'Productos'.";
            } else {
                respuesta = "Lo siento, no tengo una respuesta específica para esa pregunta. Si necesitas más información, te sugiero visitar nuestras secciones de 'Productos' y 'Personalización', o contactar a nuestro equipo de soporte.";
            }

            mostrarRespuestaBot(respuesta);

            // Limpiar el cuadro de entrada después de procesar la pregunta
            document.getElementById("user-input").value = "";
        }

        function mostrarMensajeUsuario(mensaje) {
            const chatDisplay = document.getElementById("chat-display");
            chatDisplay.innerHTML += `<div class="user-message">${mensaje}</div>`;
            scrollChatToBottom();
        }

        function mostrarRespuestaBot(respuesta) {
            const chatDisplay = document.getElementById("chat-display");
            chatDisplay.innerHTML += `<div class="bot-message">${respuesta}</div>`;
            scrollChatToBottom();
        }

        function scrollChatToBottom() {
            const chatDisplay = document.getElementById("chat-display");
            chatDisplay.scrollTop = chatDisplay.scrollHeight;
        }

        function limpiarConversacion() {
            const chatDisplay = document.getElementById("chat-display");
            chatDisplay.innerHTML = "";
        }
    </script>
</body>

</html>