<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PCBlend - Detalles del producto</title>
    <link rel="stylesheet" href="../styles/main.css">
    <link rel="stylesheet" href="../styles/product-details.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="http://localhost:8080"><img src="../images/logo.jpg" alt="PCBlend Logo" /></a>
            </div>
            <ul>
                <li><a href="http://localhost:8080">Inicio</a></li>
                <li><a href="http://localhost:8080/productos/ensamblados" class="active">Productos</a></li>
                <li><a href="http://localhost:8080/customization/componentes">Personalización</a></li>
                <li><a href="http://localhost:8080/favorites">Favoritos</a></li>
                <li><a href="http://localhost:8080/cart"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
            </ul>
            <% if (autenticado) { %>
                <div class="user-menu">
                    <form action="http://localhost:8080/login/logout" method="post">
                        <button type="submit">Cerrar sesión</button>
                    </form>
                </div>
                <% } else { %>
                    <!-- Si el usuario NO está autenticado, mostramos el contenido de este bloque -->
                    <div class="user-menu">
                        <!-- Contenido del menú para usuarios NO autenticados -->
                        <a href="http://localhost:8080/login">Iniciar sesión</a>
                        <a href="http://localhost:8080/registrar/render">Registrarse</a>
                    </div>
                    <% } %>
                        <div class="menu-toggle">
                            <i class="fas fa-bars"></i>
                        </div>
        </nav>
    </header>

    <main class="container">
        <div class="product-details">
            <div class="product-image">
                <img src="<%= componente.imagen %>" alt="Producto" id="product-image">
            </div>
            <div class="product-info">
                <h1 id="product-name">
                    <%= componente.nombre %>
                </h1>
                <p class="product-price">Precio: $<%= componente.precio %><span id="product-price"></span></p>
                <p class="product-description" id="product-description"></p>
                <div class="product-specifications">
                    <h3>Especificaciones:</h3>
                    <ul>
                        <% componente.especificaciones.forEach(function(spec) { %>
                            <li><%= spec %></li>
                        <% }); %>
                    </ul>
                </div>
                <div class="product-actions">
                    <button class="btn" id="add-to-cart">Agregar al carrito</button>
                    <form style="margin-top: 5%;"
                        action="http://localhost:8080/favoritos/<%= token %>/<%= componente.id %>" method="post">
                        <button type="submit" class="btn" id="add-to-favorites">Agregar a favoritos</button>
                    </form>
                </div>
            </div>
        </div>

    </main>

    <footer>
        <div class="footer-top">
            <div class="logo">
                <img src="/images/logo.jpg" alt="PCBlend Logo" />
            </div>
            <div class="footer-links">
                <ul>
                    <li><a href="http://localhost:8080" class="active">Inicio</a></li>
                    <li><a href="http://localhost:8080/productos/ensamblados">Productos</a></li>
                    <li><a href="http://localhost:8080/customization/componentes">Personalización</a></li>
                    <li><a href="favorites.html">Favoritos</a></li>
                    <li><a href="cart.html"><i class="fas fa-shopping-cart"></i> Carrito</a></li>
                </ul>
            </div>
            <div class="footer-social">
                <ul>
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2023 PCBlend. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="../scripts/product-details.js"></script>
</body>

</html>